@import "_variables.less";

.pure-hidden-xs {
  @media screen and (max-width: @sm-breakpoint) {
    display: none !important;
  }
}
.pure-hidden-sm {
  @media screen and (min-width: @sm-breakpoint) and (max-width: @md-breakpoint - 1px) {
    display: none !important;
  }
}

.pure-hidden-md {
  @media screen and (min-width: @md-breakpoint) and (max-width: @lg-breakpoint - 1px) {
    display: none !important;
  }
}

.pure-hidden-lg {
  @media screen and (min-width: @lg-breakpoint) and (max-width: @xl-breakpoint - 1px) {
    display: none !important;
  }
}

.pure-hidden-xl {
  @media screen and (min-width: @xl-breakpoint) {
    display: none !important;
  }
}